<div id="pic_strip" class="row-fluid">
	<div class="pull-left"><h1>>></h1></div>
	<%= image_tag "http://placehold.it/75x75", alt: 'instaprize thumb image', id: 'pic_thumb', class: 'thumbnail pull-left', size: '75x75' %>
</div>