<div class="span3">
	<div class="well sidebar-nav">
	  <ul class="nav nav-list">
			<li class="nav-header">#Mazeh9art</li>
	    <li class="nav-header">Latest Voters</li>
			<span id="ticker"></span>
	  </ul>
	</div><!--/.well -->
</div><!--/span-->