<div class="span3">
	<div class="well sidebar-nav">
	  <ul class="nav nav-list">
	    <li class="nav-header">Latest Voters</li>
			<div class="row thumbnail">
				<img class="pull-left" src="http://placehold.it/50x50" alt="">
				comment/icon
			</div>
			<div class="row thumbnail vote-box">
				<img class="pull-left" src="http://placehold.it/50x50" alt="">
				comment/icon
			</div>
			<div class="row thumbnail">
				<img class="pull-left" src="http://placehold.it/50x50" alt="">
				comment/icon
			</div>
			<div class="row thumbnail">
				<img class="pull-left" src="http://placehold.it/50x50" alt="">
				comment/icon
			</div>
			<div class="row thumbnail">
				<img class="pull-left" src="http://placehold.it/50x50" alt="">
				comment/icon
			</div>
			<div class="row thumbnail">
				<img class="pull-left" src="http://placehold.it/50x50" alt="">
				comment/icon
			</div>
			<div class="row thumbnail">
				<img class="pull-left" src="http://placehold.it/50x50" alt="">
				comment/icon
			</div>
			<div class="row thumbnail">
				<img class="pull-left" src="http://placehold.it/50x50" alt="">
				comment/icon
			</div>
	  </ul>
	</div><!--/.well -->
</div><!--/span-->