<% content_for :votes_ticker do %>
	<%= render :partial => 'votes_ticker' %>
<% end %>

<div class="row-fluid">
  <div>
    <div class="row-fluid">
      <div class="span12">
				<%= render :partial => 'shared/picture_and_time' %>
				<%= render :partial => 'pic_strip' %>
			</div> 
    </div>
  </div>
</div>

<% content_for :result_graph do %>
	<%= render :partial => 'result_graph' %>
<% end %>