<h1>Screen#resault</h1>
<p>Find me in app/views/screen/resault.html.erb</p>
<div>
	<div id="controls" style="margin-bottom:20px;width: 100%; height: 100px">
	    <div id="managerControls" style="height: 100%;width:33%; float: left; border-width: 1px; border-style: dotted">
	        <div style="margin-left: 40%">Manager</div>
	        <input id="btnSendState1ToScreen" type="button" value="Send State 1 to Screen" ><br />
	        <input id="btnSendState3ToAll" type="button" value="Send State 3 to All" ><br />
	    </div>
	    <div id="screenControls" style="height: 100%;width:33%; float: left; border-width: 1px; border-style: dotted">
	        <div style="margin-left: 40%">Screen</div>
	        <input id="btnSendState2ToClient" type="button" value="Send State 2 to Client" ><br />
	    </div>
	    <div id="clientControls" style="height: 100%;width:33%; float: left; border-width: 1px; border-style: dotted">
	        <div style="margin-left: 40%">Client</div>
	    </div>
	</div>


	<div style="width: 100%; overflow: auto">
	    <div id="manager" style="min-height: 100px;width:33%; float: left; border-width: 1px; border-style: dotted;">
	        <div id="managerText" style="margin-left: 40%">Manager</div>
	        <div style="margin-left: 38%"><input id="btnManagerConnect" type="button" value="Connect" /><br /></div>
	        <div id="managerMessages"></div>
	    </div>
	    <div id="screen" style="min-height: 100px;height: 100%;width:33%; float: left; border-width: 1px; border-style: dotted">
	        <div id="screenText" style="margin-left: 40%">Screen</div>
	        <div style="margin-left: 38%"><input id="btnScreenConnect" type="button" value="Connect" /><br /></div>
	        <div id="screenMessages">

	        </div>
	    </div>

	    <div id="client" style="min-height: 100px;height: 100%;width:33%; float: left; border-width: 1px; border-style: dotted">
	        <div id="clientText" style="margin-left: 40%">Client</div>
	        <div style="margin-left: 38%"><input id="btnClientConnect" type="button" value="Connect" /><br /></div>
	        <div id="clientMessages"></div>
	    </div>

	</div>

	<div id="connectedClients">

	</div>
	
</div>
<script type="text/javascript">

        var STATES = {
            STATE1: 1,
            STATE2: 2,
            STATE3: 3
        }

        $(document).ready(function(){

            nexu = new Nexu("http://" + document.location.host);

            var client = new Nexu("http://m.nexu.co:80/",Nexu.SocketChannels.CLIENT).socket;
            var screen = new Nexu("http://m.nexu.co:80/" + document.location.host,Nexu.SocketChannels.SCREEN).socket;
            var manager = new Nexu("http://m.nexu.co:80/",Nexu.SocketChannels.MANAGER).socket;

            client.setMessageHandler(STATES.STATE3 , function(state , payload){
                $('#clientMessages').append('Got State3 Event!!! Payload:' + JSON.stringify(payload) + '<br />');
            });

            client.setDefaultHandler(clientHandler);
            screen.setDefaultHandler(screenHandler);
            manager.setDefaultHandler(managerHandler);




            $('#btnManagerConnect').bind('click', function(){
                manager.connect();
                $('#managerText').css( 'color', 'green');
                $('#btnManagerConnect').attr("disabled", "disabled");
            });

            $('#btnScreenConnect').bind('click', function(){
                screen.connect();
                $('#screenText').css( 'color', 'green');
                $('#btnScreenConnect').attr("disabled", "disabled");
            });

            $('#btnClientConnect').bind('click', function(){
                client.connect();
                $('#clientText').css( 'color', 'green');
                $('#btnClientConnect').attr("disabled", "disabled");
            });

            $('#btnSendState1ToScreen').bind('click', function(){
							manager.setState(Nexu.SocketChannels.SCREEN, STATES.STATE1, { text: 'I am the payload'});
            });

            $('#btnSendState2ToClient').bind('click', function(){
                screen.setState(Nexu.SocketChannels.CLIENT, STATES.STATE2, { text: 'I am the payload'});
            });

            $('#btnSendState3ToAll').bind('click', function(){
                manager.setState(Nexu.SocketChannels.ALL, STATES.STATE3, { text: 'I am the payload'});
            });


        });

        function clientHandler(state, payload){
          console.log(state);
					$('#clientMessages').append('Got State:' + state + ' With Payload:' + JSON.stringify(payload)  + '<br />');
        }

        function screenHandler(state, payload){
            $('#screenMessages').append('Got State:' + state + ' With Payload:' + JSON.stringify(payload)  + '<br />');
        }

        function managerHandler(state, payload){
            $('#managerMessages').append('Got State:' + state + ' With Payload:' + JSON.stringify(payload)  + '<br />');
        }

    </script>
		<script src="http://m.nexu.co/instaprize/nexu-min.js"></script>
		<script src="http://m.nexu.co/instaprize/ns-min.js"></script>