<div class='row'>
	<div class="btn-group-wrap">
	  <div class="btn-group">
	      <a href="#" class="btn btn-large"><%= image_tag 'dontlike.png' %>nope</a>
	      <a href="#" class="btn btn-large"><%= image_tag 'soso.png' %>so-so</a>
	      <a href="#" class="btn btn-large"><%= image_tag 'like.png' %>Like!</a>
	  </div>
	</div>
</div>